* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  .navbaritems {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  .section1 {
    background-color: #C2EFD4;
  }
  .section1img {
    border-radius: 5cqmin;
  }

  h1 {
    font-family: 'Rufina', serif;
    color: #224F34;
  }

  h2 {
    font-family: 'Libre Baskerville', serif;
    color: #224F34;
    font-weight: bold;
  }

p {
  font-family: 'Poppins', sans-serif;
  color: #224F34;
}

  /* navbarbtn */
  .navbarbtn {
    padding: 0.6em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   .navbarbtn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .navbarbtn:hover::before {
    width: 105%;
   }
   
   .navbarbtn:hover {
    color: #111;
   }

   /* explorenow btn  */

   .section1btn {
    background-color: #224F34;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }
   
   .section1btn span:last-child {
    display: none;
   }
   
   .section1btn:hover {
    transition: .4s;
    background-color: #224F34;
    color: #00BFA6;
   }
   

.fa-star {
  color: #17C3B2;
}
.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.section3 img{
  width: 14rem;
}
.section4 {
  background-color: #9acaae;
  
}

.section4 img{
  border: solid 1px;
}

.feedback {
  box-shadow: 5px 4px 29px 0px rgba(0, 0, 0, 0.1);
  border: none;
  max-width: 400px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.socials {
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding: 0 0 20px 20px;
}

.socials img {
  width: 35px;
}

/* contact */

.part2 {
  padding: 40px 20px;
  border-radius: 10px;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 5px 5px;
  margin-bottom: 100px;
}